# TYPE  DATABASE        USER            ADDRESS                 METHOD
# Local socket connections
local   replication     bkp03_backup                            peer map=bkp03_backup_map
local   all             all                                     peer

# IPv4 loopback & local node connections (hostssl only)
hostssl all             all             127.0.0.1/32            scram-sha-256
hostssl all             all             {{ postgres_data_ip }}/32          scram-sha-256

# PLATFORM VLAN (k3s / Keycloak)
hostssl all             all             {{ postgres_platform_subnet }}         scram-sha-256

# Explicitly reject non-SSL connections from any remote IPv4
hostnossl all           all             0.0.0.0/0               reject
