RCLONE_CONFIG_LOCAL_TYPE=s3
RCLONE_CONFIG_LOCAL_PROVIDER=Other
RCLONE_CONFIG_LOCAL_ENV_AUTH=false
RCLONE_CONFIG_LOCAL_ACCESS_KEY_ID={{ bkp03_s3_access_key }}
RCLONE_CONFIG_LOCAL_SECRET_ACCESS_KEY={{ bkp03_s3_secret_key }}
RCLONE_CONFIG_LOCAL_ENDPOINT={{ bkp03_s3_endpoint }}
RCLONE_CONFIG_LOCAL_FORCE_PATH_STYLE=true
RCLONE_CONFIG_LOCAL_NO_CHECK_BUCKET=true
BKP03_S3_BUCKET={{ bkp03_s3_bucket }}
BKP03_RETENTION_COUNT={{ bkp03_retention_count }}
